{% extends 'diary/base.html' %}
{% load static %}
{% block content %}


    <div class="col-md-12">
        <a class="btn btn-primary my-3" href="{% url 'diary:add' %}">Add an entry!</a>
        <div class="entries">
            <div id="app">
                <!-- Vue app is rendered here -->
                <ul class="list-group">
                    <!-- render entries here -->
                    <template v-for="entry in entries" :key="entry.id">
                        <li class="list-group-item">[[ entry.title ]]</li>
                    </template>
                </ul>
            </div>
        </div>
    </div>
    
{% endblock %}