{% extends 'diary/base.html' %}
{% load static %}
{% block content %}


    <div class="col-md-12">
        <div id="app">
            <button class="btn btn-primary my-3" type="button"
            data-toggle="collapse" data-target="#form">Add an entry!</button>
                <div class="form-display collapse" id="form">
                    <form>
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="entry">Diary Entry</label>
                            <br>
                            <textarea class="form-control" name="entry" id="entry"
                            cols="30" rows="5" placeholder="Share your thoughts">[[ entry ]]</textarea>
                            <br>
                            <button class="btn btn-primary" type="button">Submit</button>
                        </div>
                    </form>
                </div>
            <div class="entries">
                <ul class="list-group">
                    <!-- render entries here -->
                    <li class="list-group-item" v-for="entry in entries" :key="entry.id">
                        [[ entry.title ]]
                    </li>
                 </ul>
            </div>
        </div>
    </div>
    
{% endblock %}