{% extends 'diary/base.html' %}
{% load static %}
{% block content %}


    <div class="col-md-12">
        <a class="btn btn-primary my-3" href="{% url 'diary:add' %}">Add an entry!</a>
        <div class="entries">
            <ul class="list-group">
                <!-- render entries here -->
                {% for entry in entries %}
                    <a href="{% url 'diary:add' %}" style="text-decoration: none;">
                        <li class="list-group-item">{{ entry.title }}</li>
                    </a>
                {% endfor %}
             </ul>
        </div>
    </div>
    
{% endblock %}